* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

		html,
		body {
		width: 100%;
		height: 100%;
	}

    body {
        background-image: url("../images/background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color:#1EAA08;
        }

    /* .ln {
        Border : 1px solid #424242;
    } */


    .logo{
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 1.6rem;
    }

    .heading{
        color:white;
        text-align: center;
        padding: 0 1.6rem 0 1.6rem;
    }

    .badges{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 1.6rem 10rem 1.6rem 10rem;
    }

    .badge{
        padding: 1.6rem;
    }

    .container {
        margin-top: 6rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer{
        background-color:#1EAA08
    }


/* FONT */

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

html {font-size: 100%;} /*16px*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}